@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap');
html{
    font-size: 62.5%;
    font-family: "M PLUS 1p", sans-serif;
}
body{
    position: relative;
    margin: 0;
    height:100vh;
    background-color: #000;
    overflow: hidden;
}
input[type="radio"]{
    display: none;
}
.bg{  
    position: absolute;
    display: flex;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;   
    width: 100vw;
    height: auto;
    justify-content: center;
    background: url(../images/menubg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    margin: auto;
    aspect-ratio: 16 / 9;
    z-index: 0;
}
.start::before{
    content: '';
	background: inherit;   
    filter: blur(15px);
    top: -15px;
    bottom: -15px;
    left: -15px;
    right: -15px;
    position: absolute;
    z-index: -1;
}
.end::before{
    content: '';
	background: inherit;
    filter: blur(0);
    top: -15px;
    bottom: -15px;
    left: -15px;
    right: -15px;
    transition: filter 2s ease-in-out 1.5s;
    position: absolute;
    z-index: -1;
}
.title-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#title-img{
    width: 50%;
    height: auto;
    margin: 0 auto;
    display: block;
}
#title-nav-img{
    width: 80%;
    margin: 0 auto;
    display: block;
    animation: flash 1.5s linear infinite;
}
@keyframes flash {
	0%, 100%{
        opacity: 0.3;
    }
    50%{
        opacity: 1;
    }
}
.menu-container{
    display: none;
    width: 100%;
    height: 100%;
}
.left-container{
    display: flex;
    width: 50%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
}
.right-container{
    position: relative;
    display: flex;
    width: 50%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
}
.btn-container{
    width: 100%;
    height: 75%;
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.btn{
    position: relative;
    height: 33%;
    width: auto;
    transform: translate(2%, 2%);
    transition-duration: 500ms;
    filter: drop-shadow(0.5vw 0.5vw 0.5vw rgba(0,0,0,1));
}
.btn1{
    right: -100%;
}
.slide-in1{
    animation: slide-in 0.5s forwards;
}
.slide-in2{
    animation: slide-in 0.5s forwards 0.1s;
}
.slide-in3{
    animation: slide-in 0.5s forwards 0.2s;
}
@keyframes slide-in {
    from{
        right: -100%;
    }
    to{
        right: 0%;
    }
}
.slide-out{
    animation: slide-out 0.2s forwards;
}
@keyframes slide-out {
    from{
        right: 0%;
    }
    to{
        right: -100%
    }
}
.btn:hover{
    transform: translate(-2%, -2%);
    transition-duration: 500ms;
    filter: drop-shadow(1vw 1vw 1vw rgba(0,0,0,1));
}
#friendmatch-btn{
    margin-left: 30%;
}
.friendmatch-container{
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: auto;
}
.friendmatch-nav{
    position: relative;
    height: auto;
    width: 100%;
}
.friendmatch-nav-img{
    width: 70%;
    margin: 0 auto;
    display: block;
}
.friendmatch-nav .back-btn{
    position: absolute;
    transform: translate(-50%, -50%);
    transition: height 0.1s ease;
    top: 50%;
    left: 25%;
    height: 60%;
    width: auto;
    z-index: 3;
}
.btn2{
    width: 70%;
    height: auto;
}
.createroom-container{
    display: none;
    width: 100%;
    height: auto;
}
.createroom-nav{
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 20%;
}
.createroom-nav .back-btn{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 5%;
    width: auto;
    height: 50%;
    z-index: 3;
}
.createroom-nav-img{
    position: relative;
    display: block;
    margin: 0 auto;
    width: auto;
    height: 80%;
    margin-left: 2%;
}
.createroom-content{
    width: 100%;
    height:60%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
}
.createroom-label-container{
    height: 100%;
    width: 15%;
    display: flex;
    flex-direction: column;
}
.createroom-label{
    display: flex;
    height: 33.3%;
    width: auto;
    color: #fff;
    font-size: 2vw;
    font-weight: bold;
    letter-spacing: 0.2rem;
    text-align: right;
    justify-content: flex-end;
    align-items: center;
    white-space: nowrap;
    text-shadow:0.5vw 0.5vw 0.5vw #000;
}
.minus{
    position: absolute;
    color: #fff;
    font-size: 2.5vw;
    font-weight: bold;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 3%;
    text-shadow:0.5vw 0.5vw 0.5vw #000;
    z-index: 3;  
}
.player-num{
    position: absolute;
    color: #fff;
    font-size: 2.0vw;
    font-weight: bold;
    transform: translate(-50%, -50%);
    top: 51%;
    left: 8%;
    z-index: 3;  
}
.player-unit{
    position: absolute;
    color: #fff;
    font-size: 2.0vw;
    font-weight: bold;
    transform: translate(-50%, -50%);
    top: 51%;
    left: 11.5%;
    z-index: 3;  
}
.plus{
    position: absolute;
    color: #fff;
    font-size: 2.5vw;
    font-weight: bold;
    transform: translate(-50%, -50%);
    top: 49%;
    left: 16.5%;
    text-shadow:0.5vw 0.5vw 0.5vw #000;
    z-index: 3;
}

.createroom-choose-container{
    height: 100%;
    width: 65%;
    display: flex;
    flex-direction: column;
}
.createroom-counter{
    position: relative;
    height:33.3%;
    width: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.createroom-counter-img{
    width: 20%;
    height: auto;
    filter: drop-shadow(0.5vw 0.5vw 0.5vw rgba(0,0,0,1));
}
.createroom-choose{
    height: 33.3%;
    width: auto;
    display: flex;
    justify-content: space-around;
    
}
.createroom-choose-box{
    position: relative;
    display: flex;
    height: 100%;
    width: auto;
    align-items: center;
}
.createroom-choose-txt{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 2vw;
    font-weight: bold;
    text-shadow:0.5vw 0.5vw 0.5vw #000;
    white-space: nowrap;
    z-index: 3;
    pointer-events: none;
}
.createroom-choose-img{
    height: 45%;
    width: auto;
    filter: drop-shadow(0.5vw 0.5vw 0.5vw rgba(0,0,0,1));
}
.createroom-create{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
}
.create-btn{
    height: 80%;
    width: auto;
    transform: translate(2%, 2%);
    transition-duration: 500ms;
    filter: drop-shadow(0.5vw 0.5vw 0.5vw rgba(0,0,0,1));
}
.create-btn:hover{
    transform: translate(-2%, -2%);
    transition-duration: 500ms;
    filter: drop-shadow(1vw 1vw 1vw rgba(0,0,0,1));
}

/* モーダル関連 */
.open{
    animation: modalopen 0.3s forwards;
}
.close{
    animation: modalclose 0.3s forwards;
}
@keyframes modalopen {
    from{
        transform: translate(-50%, -50%) scale(0);
    }
    to{
        transform: translate(-50%, -50%) scale(1);
    }
}
@keyframes modalclose {
    from{
        transform: translate(-50%, -50%) scale(1);
    }
    to{
        transform: translate(-50%, -50%) scale(0);
    }
}
.modal-overlay, .modal-content{
    display: none;
    position: absolute;
}
.modal-overlay{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}
.modal-content{
    width: 33.3%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    border:0.2vw solid yellow;
    border-image: linear-gradient(to bottom, rgb(255, 218, 113) 0%, rgb(42, 31, 0) 100%);
    border-image-slice: 1; 
    background-image: linear-gradient(0deg, rgba(40, 15, 0, 1), rgba(195, 15, 0, 1) 50%, rgba(40, 15, 0, 1));
    z-index: 101;
}
.modalclose{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 1%;
    left: 97%;
    width: 11%;
    height: auto;
    z-index: 102;
}
.modalclose-btn{
    width: 100%;
    height: auto;
}
.joinroom-keypad-container{
    display: flex;
    padding: 1%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.joinroom-txt{
    width: 50%;
    height: auto;
    display: block;
    margin: 0 auto;
    filter: drop-shadow(0.1vw 0.1vw 0.1vw rgba(0,0,0,1));
}
.joinroom-keypad-display{
    width: 25vw;
    height: auto;
    text-align: center;
    background-color: #000;
    color: #fff;
    font-size: 3vw;
    font-weight: bold;
    letter-spacing: 0.1vw;
}
.joinroom-keypad{
    display: grid;
    width: 80%;
    margin-top: 3%;
    grid-template-columns: repeat(3, 1fr);
    gap: 1%;
}
.keypad-btn{
    color: #fff;
    font-size: 2vw;
    font-weight: bold;
    text-align: center;
    background-color: rgb(228, 19, 0);
    border-radius: 5%;    
}
.join-btn{
    display: block;
    width: 50%;
    height: auto;
    margin: 0 auto;
    filter: drop-shadow(0.5vw 0.5vw 0.5vw rgba(0,0,0,1));
}
/* ゲーム画面 */
.game-container{
    display: none;
    width: 100%;
    height: auto;
}
