<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Poker.io</title>
</head>
<body>   
    <div id="bg" class="start">   
        <div id="title-container"> 
            <div class="title">
                <img id="title-img" src="../static/images/title.png" alt="タイトル">
            </div>
            <div class="title-nav">
                <img id="title-nav-img" src="../static/images/clickanywhere.png" alt="クリックしてください">
            </div>   
        </div> 
        <div id="menu-container">
            <div class="left-container">
            </div>
            <div class="right-container">
                <div class="btn-container">
                    <img class="btn slide-in1" src="../static/images/rankmatch.png" alt="ランクマッチ">
                    <img class="btn slide-in2" id="friendmatch-btn" src="../static/images/friendmatch.png" alt="フレンドマッチ">
                    <img class="btn slide-in3" src="../static/images/training.png" alt="トレーニング">
                </div>  
            </div> 
        </div>     
    </div>
    <script src="https://cdn.socket.io/4.7.3/socket.io.min.js" integrity="sha384-+miq58Ltmjm+SSP5g8Ok6dpMO/6R4n8xe/x1Yj0Bdb9kiEz25LTnWv/GZQTRQamg" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>
</html>
