<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Poker.io</title>
</head>
<body>   
    <div class="bg start">   
        <div class="title-container"> 
            <div class="title">
                <img id="title-img" src="../static/images/title.png" alt="タイトル">
            </div>
            <div class="title-nav">
                <img id="title-nav-img" src="../static/images/clickanywhere.png" alt="クリックしてください">
            </div>   
        </div> 
        <div class="menu-container">
            <div class="left-container">
            </div>
            <div class="right-container">
                <div class="btn-container">
                    <img class="btn btn1 slide-in1" id="rankmatch-btn" src="../static/images/rankmatch.png" alt="ランクマッチ">
                    <img class="btn btn1 slide-in2" id="friendmatch-btn" src="../static/images/friendmatch.png" alt="フレンドマッチ">
                    <img class="btn btn1 slide-in3" id="training-btn" src="../static/images/training.png" alt="トレーニング">
                </div>  
                <div class="friendmatch-container">
                    <div class="friendmatch-nav">
                        <img class="back-btn" id="friendmatchback-btn" src="../static/images/back.png">
                        <img class="friendmatch-nav-img" src="../static/images/friendmatchnav.png">
                    </div>                   
                    <img class="btn btn2" id="createroom-btn" src="../static/images/createroom.png">
                    <img class="btn btn2" src="../static/images/joinroom.png">
                </div> 
            </div>
        </div>
        <div class="createroom-container">
            <div class="createroom-nav">
                <img class="back-btn" id="createroomback-btn" src="../static/images/back2.png">
                <img class="createroom-nav-img" src="../static/images/createroomnav.png">
            </div>
            <div class="createroom-content">
                <div class="createroom-label-container">
                    <div class="createroom-label">
                        <p class="createroom-label-p">人数上限：</p>
                    </div>
                    <div class="createroom-label">
                        <p class="createroom-label-p">初期チップ：</p>
                    </div> 
                    <div class="createroom-label">
                        <p class="createroom-label-p">長考時間：</p>
                    </div>                      
                </div>
                <div class="createroom-choose-container">
                    <div class="createroom-counter">
                        <p class="minus">－</p>
                        <img class="createroom-counter-img" src="../static/images/playerlimit.png">
                        <p class="plus">+</p>
                    </div>
                    <div class="createroom-choose">
                        <img class="createroom-choose-btn" src="../static/images/createroomchoosed.png">
                        <img class="createroom-choose-btn" src="../static/images/createroomchoose.png">
                        <img class="createroom-choose-btn" src="../static/images/createroomchoose.png">
                        <img class="createroom-choose-btn" src="../static/images/createroomchoose.png">
                    </div>
                    <div class="createroom-choose">
                        <img class="createroom-choose-btn" src="../static/images/createroomchoosed.png">
                        <img class="createroom-choose-btn" src="../static/images/createroomchoose.png">
                        <img class="createroom-choose-btn" src="../static/images/createroomchoose.png">
                        <img class="createroom-choose-btn" src="../static/images/createroomchoose.png">
                        <img class="createroom-choose-btn" src="../static/images/createroomchoose.png">
                    </div>
                </div>
            </div>
            <div class="createroom-create">
                <img src="">
            </div>
        </div>  
    </div>
    <script src="https://cdn.socket.io/4.7.3/socket.io.min.js" integrity="sha384-+miq58Ltmjm+SSP5g8Ok6dpMO/6R4n8xe/x1Yj0Bdb9kiEz25LTnWv/GZQTRQamg" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>
</html>
